 {% extends 'GameApp/Game_App_Base.html' %}
 {% load staticfiles %}
 {% block templatecontent %}

 <section>

    <div>

         <form method="post">
                {% csrf_token %}
                <div>
                    <table>
                        {{ form.as_table }}
                    </table>
                </div>
                {{ form.non_field_errors }}
                <button class="primary-light-button" type="submit"> Add to Collection</button>
            </form>

    </div>

 </section>

 {% endblock %}