{% extends 'BasketballApp/BasketballApp_base.html' %}
{% load staticfiles %}
{% block templatecontent %}
<section>
    <div class="flex-container footy" id="BasketballCollectionPage">
        <table class="table-striped">
            <tr>
                <th> Name</th>
                <td>{{contact.name}}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{contact.description}}</td>
            </tr>
            <tr>
                <th>E-mail</th>
                <td>{{contact.email}}</td>
            </tr>
        </table>
    </div>

    <a href="deletePage"><button class="btn" type="button">Confirm delete?</button></a>
    <a href="post_new"><button class="btn" type="button">EDIT</button></a>


</form>
</section>

{% endblock %}
