{% extends 'base.html' %}
{% load staticfiles %} <!-- must load static files on every template, even though it extends another template -->

{% block stylesheets %}
    {{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'BasketballApp/BasketballApp.css' %}">{% endblock %}

{% block pagetop-css %} cover-footy {% endblock %}

{% block page-title %}NBA App{% endblock %}
{% block page-subtitle %}Get all of your Timbers info here!{% endblock %}
{% block button1 %}<a href="{% url 'basketball' %}" class="contact-btn">NBA Home</a>{% endblock %}
{% block button2 %}<a href="{% url 'NBAnews' %}" class="contact-btn">Schedule</a>{% endblock %}
{% block button3 %}<a href="{% url 'create' %}" class="contact-btn">Contact</a>{% endblock %}
{% block button4 %}<a href="{% url 'viewss' %}" class="contact-btn">API</a>{% endblock %}
{% block button5 %}<a href="{% url 'listNames' %}" class="contact-btn">Subscribe</a>{% endblock %}

{% block appcontent %}


    {% block templatecontent %}{% endblock %} <!-- section that all the template specific content will render within -->
{% endblock %}

