{% extends 'GreatestComedies/GreatestComedies_base.html' %}
{% load staticfiles %}
{% block templatecontent %}
<section >
    <div class="flex-container GreatestComedies" id="ComedyCollection">
        <table class="table-striped">
            <tr>
                <th class="col-md">Comedy</th>
                <th class="col-md">Director</th>
                <th class="col-md">Actor</th>
                <th class="col-md">Year</th>
                <th class="col-md">Review</th>
                <th class="col-md">Imdb-Rating</th>
                <th class="col-md">Rating</th>
            </tr>
            {% for Comedies in comedy  %}     <!-- creates a new row for each comedy in the collection -->
                <tr>
                    <td class="col-md">{{Comedies.comedy}}</td>
                    <td class="col-md">{{Comedies.director}}</td>
                    <td class="col-md">{{Comedies.actor}}</td>
                    <td class="col-md">{{Comedies.year}}</td>
                    <td class="col-md">{{Comedies.review}}</td>
                    <td class="col-md">{{Comedies.imdb_rating}}</td>
                    <td class="col-md">{{Comedies.rating}}</td>
                    <td class="col-md"><a href="{{Comedies.pk}}/Details"><button class="primary-light-button" id="info-button">Details</button></a></td>   <!-- creates a link for that specific Comedy -->
                     <!--directs to details page with the selected instance-->
                </tr>
            {% endfor %}
        </table>
        <button class="primary-bright-button" type="button" onclick=" location.href='{% url 'addComedy' %}'">Add to Collection</button>
    </div>
</section>
{% endblock %}
