{% extends 'base.html' %}
{% load staticfiles %}


    {% block stylesheets %}
    {{ block.super}}
        <link rel="stylesheet" type="text/css" href="{% static 'GreatestComedies/GreatestComedies_style.css' %}">
    {% endblock %}

    {% block title %}Greatest Comedies{% endblock %}
    {% block pagetop-css %}cover-main{% endblock%}
    {% block page-title %}Greatest Comedies{% endblock %}
    {% block page-subtitle %}Bring on the laughs!{% endblock %}
    {% block button1 %}<a href="{% url 'GreatestComedies' %}" class="contact-btn">Home</a>{% endblock %}
    {% block button2 %}<a href="{% url 'addComedy' %}" class="contact-btn">Comedy Library</a>{% endblock %}
    {% block button3 %}<a href="{% url 'listComedy' %}" class="contact-btn"> Add to Collection</a>{% endblock %}

{% block appcontent %}
     {% block templatecontent %}{% endblock %}
{% endblock %}

