{% extends 'GreatestComedies/GreatestComedies_base.html' %}
{% load staticfiles %}
{% block appcontent %}


            <div class="container">
                <p>Need something funny to watch but blanking on the best titles? Ever ask yourself "Who's that dude or lady that did that one funny movie?"
                    Well, look no further! Greatest Comedies has all the comedies you can or can't think of as well as the comedians/actors who star in them.
                    Turn your day to laughter with the best resource of comedies greatest films!
                </p>
            </div>

{% endblock %}


