{% extends 'GreatestComedies/GreatestComedies_base.html' %}
{% load staticfiles %}
{% block templatecontent %}
<section>
    <div class="flex-container GreatestComedies text-center" id="ComedyDetails">>
        <table>

            <tr>
                <th>Comedy</th>
                <td>{{Comedies.comedy}}</td>
            </tr>
            <tr>
                <th>Director</th>
                <td>{{Comedies.director}}</td>
            </tr>
            <tr>
                <th>Actor</th>
                <td>{{Comedies.actor}}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{Comedies.year}}</td>
            </tr>
            <tr>
                <th>Review</th>
                <td>{{Comedies.review}}</td>
            </tr>
            <tr>
                <th>Imdb-Rating</th>
                <td>{{Comedies.imdb_rating}}</td>
            </tr>
            <tr>
                <th>Rating</th>
                <td>{{Comedies.rating}}</td>
            </tr>
        </table>

        <hr />
        <button class="primary-bright-button" type="button" onclick=" location.href='{% url 'listComedy' %}'">Back to Collection</button><br>
        <br/>
    </div>
</section>
{% endblock %}
