{% extends 'HikingApp/hiking_base.html' %}
{% load staticfiles %}
{% block templatecontent %}
<section>
    <div class="flex-container Hiking" id="HikesDetailPage">
        <table>
            <tr>
                <th>Hike Name</th>
                <td>{{hike.Hike_Name}}</td>
            </tr>
            <tr>
                <th>Hike Date</th>
                <td>{{hike.Date}}</td>
            </tr>
            <tr>
                <th>Start Time</th>
                <td>{{hike.Start_Time}}</td>
            </tr>
            <tr>
                <th>Difficulty</th>
                <td>{{hike.Difficulty}}</td>
            </tr>
            <tr>
                <th>Completed?</th>
                <td>{{hike.Completed}}</td>
            </tr>
            <tr>
                <th>End Time</th>
                <td>{{hike.End_Time}}</td>
            </tr>
            <tr>
                <th>Rating</th>
                <td>{{hike.Rating}}</td>
            </tr>
        </table>

        <hr />
        <button class="primary-bright-button" type="button" onclick=" location.href='{% url 'editHike' hike.pk %}'">Edit Hike Information</button>
        <button class="primary-bright-button"  type="button" onclick=" location.href='{% url 'listHikes' %}'">Back to Hikes</button>
    </div>
</section>
{% endblock %}
