{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Shoe Closet{% endblock %}

{% block stylesheets %}
    {{block.super}}<link rel="stylesheet" href="{% static 'ShoeCloset/shoecloset_styles.css' %}"/>
{% endblock %}

{% block pagetop-css %} shoecloset_banner {% endblock %} <!--class for banner -->
{% block page-title %} Shoe Closet {% endblock %}
{% block button1 %}<a href="{% url 'ShoeCloset' %}" class="contact-btn">Home</a>{% endblock %}
{% block button2 %}<a href="{% url 'TheShoeCloset' %}" class="contact-btn">The Shoe Closet </a>{% endblock %}


