{% extends 'ShoeCloset/shoecloset_base.html' %}
{% load staticfiles %}
{% block appcontent %}
<section>
    <div class="flex-container ShoeCloset_center" id="addToCloset">
        <table>
            <tr>
                <th>Type:</th>
                <td><{{shoestyles.type}}</td>
            </tr>
            <tr>
                <th>Brand:</th>
                <td>{{shoestyles.brand}}</td>
            </tr>
            <tr>
                <th>Color:</th>
                <td>{{shoestyles.color}}</td>
            </tr>
            <tr>
                <th>Size:</th>
                <td>{{shoestyles.size}}</td>
            </tr>
        </table>

        <hr />
        <button class="primary-bright-button" type="button" onclick=" location.href='{% url 'TheShoeCloset' %}'">Back to ShoeCloset</button>
    </div>
</section>
{% endblock %}