{% extends 'ShoeCloset/shoecloset_base.html' %}
{% load staticfiles %}


{% block appcontent %}
        <div class="flex-container">
            <form method="post">
            {% csrf_token %}
                <table>
                {{ form.as_table }} <!-- this only renders the td tags, still need the table tags -->
                 </table>
            {{ form.non_field_errors }}
              <button class="primary-bright-button" type="submit">Add to The Shoe Closet</button>
            </form>
             <hr />
        <button class="primary-bright-button" type="button" onclick=" location.href='{% url 'TheShoeCloset' %}'">Back to The Shoe Closet</button>
        </div>

{% endblock %}
