{% extends 'ShoeCloset/shoecloset_base.html' %}
{% load staticfiles %}
{% block appcontent %}
<section >
    <div class="flex-container ShoeCloset" id="addToShoeCloset">
        <table class="table-striped">
            <tr>
                <th class="col-md">Type</th>
                <th class="col-md">Brand</th>
                <th class="col-md">Color</th>
                <th class="col-md">Size</th>
            </tr>
            {% for ShoeClosetModel in shoes %}
                <tr>
                    <td class="col-md" style="max-width:33%">{{ShoeClosetModel.type}}</td>
                    <td class="col-md">{{ShoeClosetModel.brand}}</td>
                    <td class="col-md">{{ShoeClosetModel.color}}</td>
                    <td class="col-md">{{ShoeClosetModel.size}}</td>
                    <td class="col-md"><a href="TheShoeCloset/{{ShoeClosetModel.pk}}/Details"><button class="primary-light-button" id="info-button"> Style Info</button></a></td>                </tr>
            {% endfor %}
        </table>
        <button class="primary-bright-button" type="button" onclick=" location.href='{% url 'addShoes' %}'">Add to The ShoeCloset</button>
    </div>
</section>
{% endblock %}
