{% extends 'ShoeCloset/shoecloset_base.html' %}
{% load staticfiles %}

{% block appcontent %}
<section id="shoeClosetHome">
    <center><h1 class="ShoeCloset-header"><strong>Shoe Closet</strong></h1></center><br>
<center><p class="ShoeCloset-header">This app is a collection database management app for a person's own shoe closet.<br>
    There is a database to view the shoes currently in the closet <br>
    as well as to add a new show to the collection.</p></center>
</section>
{% endblock%}
{% block templatecontent %}{% endblock %}