{% extends 'base.html' %}
{% load staticfiles %} <!-- must load static files on every template, even though it extends another template -->

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'ModifyApp/modify_style.css' %}">
{% endblock %}

{% block pagetop-css %} cover-modify {% endblock %}

{% block page-title %}Modify App{% endblock %}
{% block page-subtitle %}Get all your music news here!{% endblock %}
{% block button1 %}<a href="{% url 'modify' %}"class="contact-btn">General Music News</a>{% endblock %}
{% block button2 %}<a class="contact-btn">API Service</a>{% endblock %}
{% block button3 %}<a href="{% url 'createMNews' %}" class="contact-btn">Add Music News</a>{% endblock %}
{% block button4 %}<a href="{% url 'viewindex' %}" class="contact-btn">View Index</a>{% endblock %}

{% block appcontent %}
    {% block templatecontent %}{% endblock %} <!-- section that all the template specific content will render within -->
{% endblock %}