{% extends 'LAApp/LAApp_base.html' %}
{% load staticfiles %}
{% block templatecontent %}
<section>
    <div class="flex-container author" id="AuthorDetailsPage">
        <table >
            <tr>
                <th>Author's First Name</th>
                <td>{{author.first_name}}</td>
            </tr>
            <tr>
                <th>Author's Last Name</th>
                <td>{{author.last_name}}</td>
            </tr>
            <tr>
                <th>Genre of Publication</th>
                <td>{{author.genre}}</td>
            </tr>
            <tr>
                <th>Author's City</th>
                <td>{{author.city}}</td>
            </tr><tr>
                <th>Author's State</th>
                <td>{{author.state}}</td>
            </tr>
            <tr>
                <th>Title of Publication</th>
                <td>{{author.title}}</td>
            </tr>
            <tr>
                <th>Publisher</th>
                <td>{{author.publisher}}</td>
            </tr>
            <tr>
                <th>Published Year</th>
                <td>{{author.published_year}}</td>
            </tr>
        </table>

        <hr />
        <button class="primary-bright-button" type="button" onclick=" location.href='{% url 'listAuthors' %}'">Back to Author's List</button>
        <button class="primary-bright-button" type="button" onclick=" location.href='{% url 'editAuthors' author.pk %}'">Edit Author's Details</button>
    </div>
</section>
{% endblock %}