{% extends 'LAApp/LAApp_base.html' %}
{% load staticfiles %}
{% block templatecontent %}

<span class="laapp_center">Looking for more info about a specific title?  Type in the ISBN # and let us see what we can find for you.</span>

<form class="laapp_searchISBN" method="post">
    {% csrf_token %}
    <label for="search_value" value="search_value"> ISBN:</label>
    <input type='input' id="search_value" name="search_value" ><button type="submit" formmethod="post" class="laapp_submit-btn">Submit</button>
</form>
<div class="laapp_center"><p>{{ msg }}</p></div>
<div class="container" id="book_search">

            {% for item in selected_publication %}
            <div class="row">
                <div class="bs_col-sm-3">Publication Title: </div>
                <div class="bs_col-sm-3"><b>{{ item.title }}</b></div>
                <div class="bs_col-sm-6" ><img src="{{ item.lrg_image }}" id="book_image"></div>
           </div>
            <div class="row">
                <div class="bs_col-sm-3">Author's Name: </div>
                <div class="bs_col-sm-3">{{ item.author_name }}</div>
                <div class="bs_col-sm-6"></div>
            </div>
            <div class="row">
                <div class="bs_col-sm-3">Publisher: </div>
                <div class="bs_col-sm-3">{{ item.publish_name }}</div>
                <div class="bs_col-sm-6"></div>
            </div>
            <div class="row">
                <div class="bs_col-sm-3">Number of Pages: </div>
                <div class="bs_col-sm-3">{{ item.num_pages }}</div>
                <div class="bs_col-sm-6"></div>
            </div>
            <div class="row">
                <div class="bs_col-sm-3">Subject List: </div>
                <div class="bs_col-sm-3">
                    {% for subject in item.subject_types %}
                        <ul>{{ subject }}</ul>
                    {% endfor %}
                </div>
                <div class="bs_col-sm-6"></div>
            </div>
            <div class="row">
                <div class="bs_col-sm-3">Open Library Link to Publication: </div>
                <div class="bs_col-sm-3"><a href="{{ item.link_book }}">{{ item.title }}</a></div>
                <div class="bs_col-sm-6"></div>
            </div>
    {% endfor %}
    </div>
</div>
{% endblock %}