{% extends 'LAApp/LAApp_base.html' %}
{% block header %}Delete Confirmation:{% endblock %}
{% block templatecontent %}

<form method='POST'>
    {% csrf_token %}

    <h3>Are you positive you wish to delete this entry?</h3>
    <p> You are about to delete {{ author.first_name }} {{ author.last_name }}.  Please confirm.</p>

    {{ author.as_p }}

    <input type="submit" value="Delete Entry" class="primary-bright-button" >
    <a href="{% url 'editAuthors' pk=author.pk %}"><button class="primary-bright-button" type="button" >Return to Edit Screen</button></a>
</form>

{% endblock %}