{% extends 'base.html' %}
{% load staticfiles %} <!-- must load static files on every template, even though it extends another template -->

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'LAApp/css/laapp_style.css' %}">
{% endblock %}

{% block pagetop-css %} cover-laapp {% endblock %}

{% block page-title %}Local Authors Application{% endblock %}
{% block page-subtitle %} {% endblock %}

{% block button1 %}<a href="{% url 'LAApp' %}" class="laapp_contact-btn">LAApp Home Page</a>{% endblock %}
{% block button2 %}<a href="{% url 'listAuthors' %}" class="laapp_contact-btn">Local Authors Collection</a>{% endblock %}
{% block button3 %}<a href="{% url 'scrape' %}" class="laapp_contact-btn">Top SciFi Authors By Name</a>{% endblock %}
{% block button4 %}<a href="{% url 'olAPI' %}" class="laapp_contact-btn">Open Library API</a>{% endblock %}


{% block appcontent %}

    {% block templatecontent %}{% endblock %} <!-- section that all the template specific content will render within -->
{% endblock %}
