{% extends 'SFToons/toons_base.html' %}
{% load staticfiles %}
{% block templatecontent %}
<section>
        <span class="toons_center"><strong>Welcome to the Starfinder Character Creation Demo App</strong><br />
        Easily create and manage your character with this simple app that has all your race, class, equipment,
        spells and more! Where your character would normally take hours to create, now it will take only minutes as
        the only time you spend is choosing your features. Populate your games and quickly get to rolling!</span>
        <br />

</section>
{% endblock %}