{% extends 'SFToons/toons_base.html' %}
{% load staticfiles %}
{% block templatecontent %}
<section>

    <h1>Standard Referance Data</h1>

    <h3>Looking for that one skill or ability?</h3>

    <p>Simply click the drop down box in the appropriate catagory.</p>

  <div>
      <p>Weapon Options:</p>
    <form autocomplete="on" method="POST">
        {% csrf_token %}
        {% for record in weapon %}
        <p>What weapon would you like to see?</p>
            <option value="{{ record.weapon }}">{{ record.name }}</option>
<!--          <tr>-->
<!--              <th><datalist id="{{ weapon.data }}">Weapon:<option value="{{ name.pk }}">{{ name.title }}</option></datalist></th>-->
<!--              <td><input type="submit"></td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--              <th>Bulk:<option value="{{ weapon.pk }}"></option></th>-->
<!--              <td><input type="text" name="{{ bulk }}" autocomplete="on"></td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--              <th>Bulk:<option value="{{ weapon.pk }}"></option></th>-->
<!--              <td><input type="text" name="{{ price }}" autocomplete="on"></td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th>Bulk:<option value="{{ weapon.pk }}"></option></th>-->
<!--            <td><input type="text" name="{{ level }}" autocomplete="on"></td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th>Bulk:<option value="{{ weapon.pk }}"></option></th>-->
<!--            <td><input type="text" name="{{ damage }}" autocomplete="on"></td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th>Bulk:<option value="{{ weapon.pk }}"></option></th>-->
<!--            <td><input type="text" name="{{ range }}" autocomplete="on"></td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th>Bulk:<option value="{{ weapon.pk }}"></option></th>-->
<!--            <td><input type="text" name="{{ critical }}" autocomplete="on"></td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th>Bulk:<option value="{{ weapon.pk }}"></option></th>-->
<!--            <td><input type="text" name="{{ special }}" autocomplete="on"></td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th>Bulk:<option value="{{ weapon.pk }}"></option></th>-->
<!--            <td><input type="text" name="{{ capacity }}" autocomplete="on"></td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th>Bulk:<option value="{{ weapon.pk }}"></option></th>-->
<!--            <td><input type="text" name="{{ usage }}" autocomplete="on"></td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th>Bulk:<option value="{{ description.pk }}"></option></th>-->
<!--            <td><input type="text" name="{{ description }}" autocomplete="on"></td>-->
<!--          </tr>-->
        {% endfor %}
<!--       </table>-->
    </form>
  </div>


</section>
{% endblock %}