@page
@model IndexModel
@{
    ViewData["Title"] = "VS is Fun";
}

<link href="~/css/StyleSheet.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="~/js/JavaScript.js"></script>

<div class="text-center">
    <h1 class="display-4">Enjoy the Beat</h1>
    <video width="320" height="240" autoplay>
        <source src="~/Media/y2mate.com - SEAGULLS! (Stop It Now) -- A Bad Lip Reading of The Empire Strikes Back_U9t-slLl30E_360p.mp4" type="video/mp4">
    </video>
    <br>
    <div id="animate">
        <img src="~/Media/9a7eaf28c3f3375ea5d0d3d52e2277fb.gif" alt="dance" height="75" width="75">
    </div>
</div>


