/*==================================================================
    Author: Sean Beyer a.k.a. Thalious
    seanbeyermail@gmail.com
===================================================================
    !!!!Project Title!!!!
=================================================================*/
body {
    opacity: 1;
    transition: 1s opacity;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

h2 {
    text-align: center;
    color: limegreen;
}

p {
    color: cyan;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

button {
    margin-left: 46%;
    margin-right: 55%;
    font-size: xx-large;
    color: limegreen;
    border: 5px greenyellow silver;
    border-radius: 15px 15px;
    background-color: darkmagenta;
    box-shadow: 5px 5px black;
}

button:hover {
    background-color: greenyellow;
    color: cyan;
}
  
.column {
    float: right;
}
  
.row {
    display: inline-block;
}