{% extends 'base.html' %}
{% load staticfiles %}

{% block stylesheets %}
    {{ block.super }}   <!-- use parent stylesheets + app specific stylesheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'EarningsApp/styles.css' %}">
{% endblock %}

{% block title %}S&P500 Earnings{% endblock %} <!--App specific title-->

{% block pagetop-css %}pagetop-cover{% endblock%} <!-- change the pagetop background image -->

{% block navbar %}
                <header>
                    <nav class="nav-wrapper">
                        <div class="logo">
                            <a href="{% url 'home' %}">
                                {% block nav-icon %}<img src="{% static 'images/png-icons/robot4.png' %}">{% endblock %}
                            </a>
                        </div>
                        <ul class="menu">   <!-- Customise the navbar to be app specific -->
                            <li><a href="{% block home-button %}{% url 'index' %}{% endblock %}">Home</a></li>
                            <li><a href="{% block about-button %}{% url 'index' %}{% endblock %}">About</a></li>
                            <li><a href="{% block apps-button %}{% url 'index' %}{% endblock %}">Apps</a></li>
                        </ul>
                    </nav>
                </header>
{% endblock %}

{% block page-title %}S&P Earnings Tracker{% endblock %}    <!--App specific headers and buttons -->
{% block page-subtitle %}Hacking the Markets.{% endblock %}
{% block button1 %}<a href="" class="contact-btn">Home</a>{% endblock %}
{% block button2 %}<a href="" class="contact-btn">Records</a>{% endblock %}
{% block button3 %}<a href="" class="contact-btn">News</a>{% endblock %}
