{% extends 'SpendUsApp/spendus_base.html' %}
{% load staticfiles %}
{% block templatecontent %}
<section >
    <div class="flex-container spend" id="expCollPage">
        <table class="table-striped">
            <tr>
                <th class="col-md">Expense Type</th>
                <th class="col-md">Purchaser</th>
                <th class="col-md">Description</th>
                <th class="col-md">Price</th>
                <th class="col-md">Info</th>
                <th class="col=md">Edit/Delete</th>
            </tr>
            {% for expense in expenses %}     <!-- creates a new row for each expense in the collection -->
                <tr>
                    <td class="col-md">{{expense.type}}</td>
                    <td class="col-md">{{expense.name}}</td>
                    <td class="col-md">{{expense.description}}</td>
                    <td class="col-md">{{expense.price}}</td>
                    <td class="col-md"><a href="{{expense.pk}}/Details"><button class="primary-light-button" id="info-button">Details</button></a></td>    <!-- creates a link for that specific expense -->
                    <td class = "col-md"><a href = "{{expense.pk}}/Edit">Edit/Delete</a></td>
                </tr>
            {% endfor %}
        </table>
        <button class="primary-bright-button" type="button" onclick=" location.href='{% url 'createExpense' %}'">Add to Collection</button>
    </div>
</section>
{% endblock %}
