{% extends 'base.html' %}
{% load staticfiles %} <!-- must load static files on every template, even though it extends another template -->

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'TexasScore/texasscore_style.css' %}">
{% endblock %}

{% block pagetop-css %} cover-Texas {% endblock %}

{% block page-title %}Longhorn Sports{% endblock %}
{% block page-subtitle %}Scores and more for your favorite team, The Texas Longhorns{% endblock %}
{% block button1 %}<a href="" class="contact-btn">Real-Time Scores</a>{% endblock %}
{% block button2 %}<a href="{% url 'giveGames' %}" class="contact-btn">View Games</a>{% endblock %}

{% block appcontent %}
    <section>

    {% block templatecontent %}{% endblock %}
{% endblock %}
