/* ===========================================
    SFToons Styling
=============================================*/
.cover-toons {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('images/toonscover.jpg') right top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
  }

.toons_center{
  display:inline-block;
  padding:2px 3px;
  color: var(--dark);
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  line-height:1.5em;
  text color: blue;
}

.bttn {
  height: 200px;
  position: relative;
  border: 3px solid green;
}

.btncntr {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.txt {
    {
  color: black;
}
}